.datepicker.custom {
    display: block;
}

.datepicker.custom table th {
    color: #888;
}

.datepicker.custom .datepicker__wrapper {
    background: #333;
    width: 100%;
    padding: 0;
}

.datepicker.custom .datepicker__pane {
    float: left;
    width: 33.333%;
    padding: 0.5rem;
}

.datepicker.custom .datepicker__pane:not(:first-child) .datepicker__prev,
.datepicker.custom .datepicker__pane:not(:last-child) .datepicker__next {
    display: none;
}

.datepicker.custom .datepicker__day div:hover,
.datepicker.custom .datepicker__day.is-highlighted:not(.is-selected) div {
    background: #444;
}

.datepicker.custom .datepicker__daynum {
    color: white;
}

.datepicker.custom .datepicker__day.is-selected div:hover {
    background: #2196F3;
}

.datepicker.custom .datepicker__day.is-disabled.is-selected div,
.datepicker.custom .datepicker__day.is-otherMonth.is-selected div,
.datepicker.custom .datepicker__day.is-disabled.is-selected + .is-selected div::before,
.datepicker.custom .datepicker__day.is-otherMonth.is-selected + .is-selected div::before {
    background: #444;
}

.datepicker.custom .datepicker__day.is-disabled .datepicker__daynum,
.datepicker.custom .datepicker__day.is-otherMonth .datepicker__daynum {
    color: #444;
}

.datepicker.custom .datepicker__day.is-disabled.is-selected .datepicker__daynum,
.datepicker.custom .datepicker__day.is-otherMonth.is-selected .datepicker__daynum {
    color: rgba(255,255,255,0.1);
}